.back-section {
    background-image: url('https://i.pinimg.com/originals/0e/fd/92/0efd926ac23487347ae508bcec6c3996.jpg'); /* Задаём фоновое изображение */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}