.java {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}
.java-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.java__button {
    background-color: #D9D9D9;
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
    border-radius: 53px;
    text-align: center;
    cursor: pointer;
    display: flex; /* для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    font-size: 30px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 28.12px 75px; /* Поля кнопки */
    max-width: 605px; /* От Арсэна, тут ширина*/
    max-height: 106px; 
    
}

.java__button:hover {
    background-color: rgb(122, 122, 122); 
    color: #D9D9D9;
}

@media (max-width: 768px) {
    .java {
        flex-direction: column; 
        align-items: center; 
        padding: 15px; 
    }

    .java-section__content {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .java__button {
        width: 100%; 
        padding: 20px 50px;
        font-size: 24px; 
        max-width: none; 
        max-height: none; 
        margin-top: 20px; 
    }
}