.header {
    background-color: #797979;
    display: flex;
    align-items: center;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nickname {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    font-size: 36px;
}

.header__nav {
    display:flex;
    gap: 40px;
}

.header__nav a {
    font-family: Montserrat, sans-serif;
    color:#ffffff;
    font-size: 36px;
    text-transform: uppercase;
}